/**************************************************/
/******************* RESETEADOR *******************/
/**************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	margin: 0px;
	padding: 0px;
}

/* Para viejos exploradores */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  text-align: center;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** Modelo de caja ***/
#agrupar {
	width: 750px;
	height: 638px;
  margin: 5px auto;
  text-align: left;
	background: -webkit-linear-gradient(top, #FFFFFF, #E3E3E3);
}

#seccion {
	float: right;
	width: 70%;
	height: auto;
}

#columna {
	float: right;
	width: 30%;
	text-align: right;
	padding: 50px 0px 30px 0px;
}

/*** Imágenes ***/
figure {
    font-family: CMU-Italic, Times, serif;
    text-align: center;
    font-size: .8em;
    margin: .5em 0em .5em 0em;
}

figure img {
	height: auto;
 	max-width: 70%;
}

.img1 {
	height: auto;
 	max-width: 82%;
}

.img2 {
	height: auto;
	max-width: 70%;
}

.img3 {
	height: auto;
	max-width: 60%;
}

.portada {
  width: calc(100vw - 1em);
  height: 120vh;
  margin-top: -1.2em;
  margin-bottom: .5em;
  background: white url(../img/2008-03-22_zhbk70s.jpg) no-repeat center center;
	background-size: contain;
}

/*** Fuentes ***/
@font-face {
	font-family: CMU-Roman;
	font-style: normal;
	font-weight: normal;
	src: url(../ttf/cmunrm.ttf);
}

@font-face {
	font-family: CMU-Italic;
	font-style: normal;
	font-weight: normal;
	src: url(../ttf/cmunti.ttf);
}

@font-face {
	font-family: CMU-BoldItalic;
	font-style: normal;
	font-weight: normal;
	src: url(../ttf/cmunbi.ttf);
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
	font-family: CMU-Roman, Georgia, serif;
    margin-bottom: 1em;
    text-align: left;
}

* + h2, h3, h4, h5, h6 {
    margin-top: 1em;
}

h1 {
    margin-top: 3em;
    font-size: 2em;
}

/*** Portada ***/


/*** Estilos de párrafo ***/
h1 + p {
    margin-top: 4em;
}


p, blockquote, li {
	font-family: CMU-Roman, Georgia, serif;
	font-size: .9em;
	text-align: right;;
	line-height: 1.25em;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -o-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
	margin-top: 1.5em;
}

p + p {
	text-indent: 1.5em;
}

blockquote {
    font-size: .9em;
    margin: 1em;
}

blockquote + blockquote {
	text-indent: 1.5em;
    margin-top: -1em;
}

/* Efectos en las fuentes */
i, em {
    font-style: italic;
    font-family: CMU-Italic, Georgia, serif;
}

b, strong {
    font-weight: bold;
    font-family: CMU-BoldItalic, Georgia, serif;
}

.versalitas {
    font-variant: small-caps;
}

/* Enlaces */
a, a:link, a:visited {
	text-decoration: none;
	color: gray;
}
